#module-weather {
    margin-left: 1rem;
    width: 45rem;
}

#module-weather h2 {clear:both;margin-bottom:1rem}

.left #module-weather header *,
.mid #module-weather header *,
.left #module-weather h2,
.mid #module-weather h2 {
    float: left;
}

.right #module-weather header *,
.right #module-weather h2 {
    float: right;
}

#module-weather table {
    border-top: 1px solid #888;
    border-collapse: collapse;
    width: 100%;
}

#module-weather td,
#module-weather th {
    border-bottom: 1px solid #888;
    padding: 0.5rem 1.5rem;
    text-align: center;
}