html {
    font-size: 10px;
}

@media (max-width: 1200px) {
    html {
        font-size: 7px;
    }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
                Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
                'Helvetica Neue', sans-serif,
                "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei";
    background: #000;
    color: #FFF;

    font-size: 1.6rem;
    line-height: 1;
    font-weight: 400;
    overflow-y: hidden;
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 300;
}

h1 {
    font-size: 10rem;
    line-height: 1.2;
}

h2 {
    font-size: 3.6rem;
    line-height: 1.25;
}

h3 {
    font-size: 3.2rem;
    line-height: 1.25;
}

h4 {
    font-size: 2.8rem;
    line-height: 1.4;
}

h5 {
    font-size: 2.5rem;
    line-height: 1.5;
}

h6 {
    font-size: 2rem;
}

/* Positioning */

.top {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
}

.top .left, .top .mid, .top .right {
    top: 0;
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.bottom .left, .bottom .mid, .bottom .right {
    bottom: 0;
}

.left {
    position: absolute;
    left: 0;
    max-width: 30%;
}

.mid {
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    max-width: 30%;
}

.right {
    position: absolute;
    right: 0;
    max-width: 30%;
}