<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Something went wrong...</title>
    <style>
        html {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 
                         Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
                         'Helvetica Neue', sans-serif, 
                         "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei"; /* Chinese fonts */
        }
    </style>
</head>
<body>
        <h1 style="color:darkmagenta;">Looks like the cat has got your tongue...😿</h1>
        <h3>Something went wrong... Rebooting might fix the problem.</h3>
        <p style="color:gray">{%err%}<br>Press ESC to exit.</p>
</body>
</html>