<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Cat-Mirror</title>
</head>
<body>
    <div id="app">
        <!-- Module wrappers -->
        {% for vertical in ['top', 'bottom'] %}
        <div class="{{ vertical }}">
            {% for horizontal in ['left', 'mid', 'right'] %}
            <div class="{{ horizontal }}">
                {% for module in filter(modules, [vertical, horizontal]) %}
                <div class="container" id="module-{{ module['name'] }}">
                    {{ module['renderer']() | safe if module['renderer'] != None }}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <!-- Static files -->
    <!-- <script src="{{ url_for('static', filename='vue.js') }}"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="{{ url_for('static', filename='sockets.js') }}"></script>
    <script>
        modules = [
            {% for module in modules %}'{{ module.name }}',{% endfor %}
        ]

        var app = new Vue({
            el: '#app',
            data: {
                {% for module in modules %}
                {{ module.name }}: {{ module.defaultJson | safe }}
                {% endfor %}
            }
        })
    </script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>

    {% for module in modules %}
    <!-- Static files for module "{{ module.name }}" -->
    {% for style in module.get('styles', []) %}
    <link rel="stylesheet" href="{% if style[:4] == 'http' %}{{ style }}{% else %}{{ url_for('serve_module_static', module=module['name'], path=style) }}{% endif %}">
    {% endfor %}
    {% for script in module.get('scripts', []) %}
    <script src="{% if script[:4] == 'http' %}{{ script }}{% else %}{{ url_for('serve_module_static', module=module['name'], path=script) }}{% endif %}"></script>
    {% endfor %}
    {% endfor %}
</body>
</html>